body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #990000;
}

.login-container {
    margin-top: 20px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #990000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #780000;
}

.admin-button-container {
    display: flex;
    gap: 10px; /* Adjust the value as needed */
}

.half-width-button {
    width: calc(50% - 5px); /* Adjusted to account for the gap */
}

